
 /* google font */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;500;600;700;800&display=swap');

/* shared section */

*{

    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.nav-taitle{

    color:#131313;
   
    font-size: 2rem;
    font-weight: 700;

}

.btn-prymari{
    
    border-radius: 8px;
    background: #FF900E;
    border: none;
    width: 180px;
    height: 64px;
    padding: 20px 24px;
    margin: 20px 0px 30px 0px;
    color: #FFF;
    font-weight: 700;
    font-size: 1.2rem;
    cursor: pointer;
}
.banner-discription{
    font-size: 1rem;
    font-weight: 400;
    color: #727272;

}

/* shard end */



/* header */
header{

    background-color:rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav{
display: flex;
justify-content: space-between;
align-items: center;

}

nav > ul{
    display: flex;
    gap: 50px;
}

nav li{


    list-style: none;
    color:#424242;
    margin-right: 30px;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

/* banner */
.banner img{
    width: 100%;
}
.banner-container{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}



/* future section */

main{
    max-width: 1140px;
    margin: 80px auto;
}

.futute-container{

    display: flex;
   align-items: center;
 
}

.future-img{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;

}

.future-text-contain{
    padding-right: 70px;
    padding-left: 70px;
}

.future-title{

    font-size: 2rem;
   

}

.Quick{
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}
.of-Our{
    color: #131313;
    font-weight: 700;
}
.Features{

    color: #FF900E;
    font-weight: 700;
}

/* love- */

.love-head-containar{
    margin-top: 130px;
    display: flex;
   justify-content: center;
    gap: 100px;
}

.love-containar .love-card{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
padding: 20px;
margin-bottom: 15px;
}
.love-containar .nav-taitle{

border-left: 5px solid orange;
padding-left: 20px;


}
.yerar{
    border-radius: 8px;
    background-color: #FF900E;
    color: #FFF;
    width: 342px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 70px;
}
.yerar h2{
    font-size: 4rem;
    font-weight: 500;
    margin: 0;
}
.yerar p{

    font-size: 1.5rem;
}
.love-img img{
height: 90%;
margin-left: 70px;

}




/* Some Facts */

.card-container{
    display: flex;
    justify-content: space-around;
}

.card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;


}

.card{
padding: 20px 40px;
margin-top: 40px;
}
.card-stats{

    font-size: 2.8rem;
    font-weight: 600;
    color: #424242;
    padding-top: 5px; 
}
.card-title{
    color: #727272;
    font-size: 1rem;
    font-weight: 600;
}

/* Sponspors */


.Sponspors{
    text-align: center;
  
}
.sponspors-img{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
   
}

.Sponspors h3{

    color:  #131313;
    font-size: 45px;
    font-weight: 700;


}

.sponspors .sponspors-img {
    width: 150px;
   

}

/* footer */

footer{
    max-width: 1140px;
    margin: 80px auto;
    height: 70px;
    border-radius: 8px;
    background: #FFF4E7;

    
   
 
}



.footer-title{

    color:  #424242;
    padding-top: 23px;
    text-align: center;
    font-size: 1rem;

    font-weight: 400;


}

/* header responsive */

/* mobile */

@media screen and (max-width: 576px ) {
    header{
     
        padding: 50px;
    }
    nav,
    .futute-container,
    .card-container,
    .sponspors-img,
    .love-head-containar
    {
        flex-direction: column;
    }
    .future-img{
        grid-template-columns: 1fr;
    }
    .future-text-contain,
    .card-container{
        padding-right: 20px;
        padding-left: 20px;
    }
    .card-container{
       gap: 20px;
    }
    .love-img img{
        width: 90%;
        margin-left: 0;
    }
    .yerar{
        position: static;
        width: 300px;

    }
    
}
/* tablet */
@media screen and (min-width: 576px) and (max-width: 960px){

    header{
        padding: 20px;
    }
    nav,
    .futute-container,
    .sponspors-img,
    .love-head-containar
    {
        flex-direction: column;
    }

}

